# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
gradlew text eol=lf
doctoolchain text eol=lf
dtc-int-test.sh text eol=lf
