language: groovy

jdk:
  - openjdk8
  - openjdk11
  - openjdk12
  - openjdk13

git:
  depth: false

addons:
  apt:
    packages:
      - shellcheck
      - graphviz

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

install: skip

script:
  - ./.ci.sh
  - find . -type f -exec grep -l '^#!/bin/bash' {} + | xargs shellcheck

# use `travis env set GH_TOKEN XXX` to set token to publish contents to GitHub pages
